.iBodyMobileNav {
  background: var(--colorMain1);
  display: flex;
  position: fixed;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  width: 100%;
  z-index: 99;
  margin-bottom: 50px;
  box-shadow: 1px 3px 10px var(--colorWhiteShadow);
}

.MobileNavTitle {
  padding: 0px;
  margin: 0px;
  width: 100%;
}

.iBodyMobileNav h1 {
  text-align: left;
  color: var(--colorWhite) !important;
  margin: 0px;
  padding-left: 20px;
  font-weight: bold;
}

.iNavMobile {
  direction: rtl;
  background-color: var(--colorMain1);
  color: var(--colorWhite);
  height: 50px;
  width: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: row wrap;
  z-index: 999;

}

.iNavMobile Button {
  background-color: var(--colorMain1);
  color: var(--colorWhite);
  border: 0;
  width: auto;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 999;
}

.iNavMobile Button:hover {
  background-color: var(--colorMain1);
  color: var(--colorWhite);
  border: 0;
  height: 100%;
}

.iNavListMobileHeadet {
  /* padding-top: env(safe-area-inset-top); */
}
.iNavListMobile ul {
  width: 100%;
}
.iNavListMobile li {
  color: var(--colorMain1) !important;
  font-size: large;
  font-weight: bold;
  padding: 20px 10px;
  border-bottom: 1px solid rgb(231, 231, 231);
}

.iNavListMobile a {
  text-decoration: none;
  color: var(--colorBlack) !important;
}

.iMobileNavSliderHeader {
  padding: 30px 10px 10px 10px;
  margin-bottom: 20px;
  width: 100%;
  height: auto;
  background: var(--colorMain2);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  box-shadow: 1px 3px 14px rgb(172, 171, 171);
  border-radius: 0px 0px 30px 30px;
}

.iMobileNavSliderHeaderAvatar {
  border: 3px solid var(--colorWhite) !important;
}
.iMobileNavSliderHeaderDes {
  padding: 20px 10px 10px 20px !important;
  padding: 10px;
  width: 100%;
  background-color: transparent;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--colorGray);
}

.iMobileNavSliderHeaderDes a {
  color: var(--colorWhite);
}

.iNavListMobileHeadet .ant-drawer-content-wrapper .ant-drawer-body {
  /*body mobail menuaka*/
  padding: 0px !important;
  background-color: var(--colorWhite);
}

.iNavListMobileHeadet .ant-drawer-content-wrapper .ant-drawer-header {
  /* headeri closaka*/
  padding: 1px;
  background-color: var(--colorMain1) !important;
  border: 1px solid var(--colorMain1) !important;
  color: white !important;
}

.iNavListMobileHeadet .ant-drawer-content-wrapper .ant-drawer-close {
  /* buttoni closaka*/

  color: var(--colorWhite) !important;
  /* padding: 0 5px 0 0 !important; */
  /* height: 100%; */
}
