.iBodyCart {
  height: auto;
  min-height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: var(--colorBg);
  overflow-y: auto;
  padding: 5%;
}

.iCartContainer {
  width: 75%;
}

.iCarts {
  height: auto;
  min-height: 100%;}



/* START mobile And Tablet */
@media only screen and (max-width: 1224px) {

  .iCartContainer {
    padding-top: 50px;
    width: 100%;
  }
}
