.iDivider {
  color: var(--colorMain1) !important;
}
.iHomeSlider img {
  width: 100%;
}


.iHomeHero {
  width: 99%;
  height: auto;
  background-color: var(--colorWhite);
  border-radius: 10px;
  box-shadow: 1px 3px 10px var(--colorWhiteShadow);
  margin: 0px 0px 50px 0px;
  padding: 20px;

}

.iHomeTopViewer{
  display: flex;
  justify-content: space-around;
  align-items: center;
  overflow: hidden;
}

.iHomeCarousel {
  padding: 0px;
  margin: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 700px;
}

.iHomeProducts {
  height: auto;
  background-color: var(--colorWhite);
  border-radius: 10px;
  box-shadow: 1px 3px 10px var(--colorWhiteShadow);
  margin: 50px 0px 50px 0px;
  padding: 5px;

}

.iStores {
  display: flex !important;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 40px 0px 40px 0px;
}

.iHomeStores {
  height: auto;
  width: 100%;
  background-color: var(--colorWhite);
  border-radius: 10px;
  box-shadow: 1px 3px 10px var(--colorWhiteShadow);
  padding: 20px;
  margin: 10px;
}
