.iProductDetails {
  height: auto;
  background-color: var(--colorWhite);
  border-radius: 10px;
  box-shadow: 1px 3px 10px var(--colorWhiteShadow);
  margin: 0px 0px 50px 0px;
  padding: 20px;

  display: flex;
  flex-direction: row;
}

.iProductDetailHeader {
  margin-bottom: 40px;
  direction: rtl;
}
.iProductDetailHeader h5 {
  color: var(--colorMain1);
  direction: rtl;
}

.iProductDetailDesc {
  padding: 0 20px 0 20px;
  font-size: large;
  direction: rtl;
}
.iProductDetail {
  width: 100%;
}

.iProductImages img {
  border-radius: 10px !important;
  padding: 5px;
  overflow: hidden;
}

.iProductDetailPrice {
  width: 100%;
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.iProductDetailPrice h1 {
  font-size: 25px;
  color: var(--colorMain1);
}

.iProductBtn {
  /* background-color: aqua; */
  width: 100%;
  /* height: 200px !important; */
  display: flex;
  justify-content: center;
  align-items: end;
  padding: 20px;
}

.iProductBtnCart {
  width: 200px;
  height: 50px;
  border-radius: 50px;
  margin: 0 5px 0 5px;
  border: 1px solid var(--colorMain1);
  background-color: var(--colorMain1);
  color: var(--colorWhite);
  display: flex;
  justify-content: center;
  align-items: center;
}
.iProductBtnCart:hover {
  color: var(--colorMain1);
  background-color: var(--colorWhite);
  border: 1px solid var(--colorMain1);
}

.iProductBtnLike {
  width: 50px;
  height: 50px;
  border-radius: 50px;
  margin: 0 5px 0 5px;
  border: 1px solid var(--colorMain1);
  background-color: var(--colorMain1);
  color: var(--colorWhite);
  display: flex;
  justify-content: center;
  align-items: center;
}

.iProductBtnLike:hover {
  color: var(--colorMain1);
  background-color: var(--colorWhite);
  border: 1px solid var(--colorMain1);
}

.iProductComment {
  height: auto;
  background-color: var(--colorWhite);
  border-radius: 10px;
  box-shadow: 1px 3px 10px var(--colorWhiteShadow);
  margin: 0px 0px 50px 0px;
  padding: 20px;
}

.iProductStoreProfileParent {
  height: 200px;
  background-color: var(--colorWhite);
  border-radius: 10px;
  box-shadow: 1px 3px 10px var(--colorWhiteShadow);
  margin: 0px 0px 20px 0px;
  padding: 20px;
}
.iProductStoreProfile {
  display: flex;
  justify-content: right;
  direction: rtl;
}

/* START mobile And Tablet */
@media only screen and (max-width: 1224px) {
  .iContainerProductDetail {
    margin-top: 40px !important;
  }
  .iProductDetails {
    display: flex;
    flex-direction: column;
  }

  .iProductImageSmall {
    display: flex;
    flex-direction: row;
    justify-content: center;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
  }

  .iProductImageSmall img {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 50px;
    height: 50px;
  }
  .iProductImageSmall .ant-image {
    width: 50px !important;
    height: 50px;
    text-align: center;
  }

  .iProductDetailHeader h1 {
    padding-top: 30px;
    font-weight: bold;
  }
}
