.iCard {
  width: 200px !important;
  height: 410px !important;
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  flex-flow: row wrap !important;
  margin: 10px !important;
  /* box-shadow: 1px 3px 10px rgb(236, 236, 236); */
  border-radius: 10px !important;
  overflow: hidden;
  text-align: right;
  direction: rtl;
  background-color: var(--colorWhite) !important;
}

.iCardContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}
.iCard img {
  height: 200px !important;
  width: 100% !important;
  margin: 0px !important;
  padding: 20px;
}

.iCard Button {
  border: 0px;
  border-radius: 30px;
  margin: 0px 5px 0px 5px !important;
  /* after edit*/
  width: 100px;

  background-color: var(--colorWhite);
  color: var(--colorMain1);
  border: 1px solid var(--colorMain1);
}
.iCard button:hover {
  border: 0px;
  border-radius: 30px;

  /* background-color: var(--colorMain1);
  color: var(--colorWhite); */

  /* after edit*/
  background-color: var(--colorMain1);
  color: var(--colorWhite);
}

.iCard button:focus {
  background-color: var(--colorMain1);
  color: var(--colorWhite);
}

.iCardFooter {
  height: auto !important;
  padding-top: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
}

.iCardFooter p {
  /* padding: 0px; */
  text-align: right !important;
  margin: 0px;
  font-size: 25px;
  font-weight: bold;
  padding-bottom: 10px;
  color: var(--colorMain1);
}

.iCardDetail {
  width: 200px;
  height: 85px;
  padding: 10px !important;
  /* white-space: nowrap; */
  overflow: hidden;
  text-overflow: ellipsis;
}

/* START mobile And Tablet */
@media only screen and (max-width: 1224px) {
  .iCard {
    height: 300px !important;
    width: 150px !important;
  }

  .iCardContainer {
    padding: 0px !important;
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
  }
  .iCardDetail {
    width: 150px;
    height: 110px;
    /* padding: 10px !important; */
    /* white-space: nowrap; */
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .iCard img {
    padding: 5px;
    width: auto !important;
    height: 100px !important;
  }

  .iCardFooter {
    padding-bottom: 5px;
  }
  .iCardFooter p {
    font-size: 15px;
  }

  .iCard .ant-card-body {
    padding-top: 0px !important;
  }
}
/* END mobile And Tablet */
