.iRegisterBody {
  display: flex;
  justify-content: space-between;
}

.iRegisterLogo{
  display: flex;
  align-items: center;
}
.iRegisterLogo h1 {
  margin-bottom: 0px;
  margin-left: 20px;
  font-weight: bold;
  color: var(--colorMain1);
}

.iRegisterNav ul {
  width: 100%;
}

.iBigNavLoggedin{
  padding: 10px;
}
.iBigNavAvatar img{
  background-color: var(--colorMain1);
  border: 2px solid var(--colorMain1);
}